<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <title>Database</title>
</head>
<body>
    <div class="container-fluid wrapper">
        {% for arr in users %}
        <div class="row">
            <div class="col-sm-1"></div>
            {% for i in arr %}
            <div class="col-sm-2">
                <button class="cell" onclick="window.location.href='/{{i}}';">
                    {{i}}
                </button>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    </div>
</body>
</html>