<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/upage.css">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <meta http-equiv="refresh" content="5;url=http://localhost:8080/{{id}}" />
    <title>Uid {{id}}</title>
</head>
<body>
    <button class="btn" onclick="window.location.href='/';">
        &lt;-
    </button>
    <div class="codecontainer" id="code">
        <span>{{code}}</span>
    </div>
    <div id="time"></div>
    <div class="qrcodecontainer">
        <div id="qrcode" class="qrcode"></div>
    </div>
    <script>
        var lnk = '{{link}}';
        var qrcode = new QRCode("qrcode", {
            text: lnk,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    </script>
    </script>
</body>
</html>